@import "tailwindcss";
@plugin "daisyui";

.my-btn{
    @apply btn w-full py-2 font-semibold rounded-lg text-white border-none bg-gradient-to-r from-amber-600 via-orange-500 to-yellow-400 hover:from-amber-700 hover:via-orange-600 hover:to-yellow-500 hover:scale-105 transition-transform duration-200 shadow-md hover:shadow-lg
}